.study-france-container {
  width: 100%;
  max-width: 1500px;
  margin: 0px auto;
  padding: 8%;
}

.content-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.left-container {
  flex: 1;
  margin-right: 20px;
}

.right-container {
  flex: 1;
  margin-left: 20px;
}

.image {
  margin-bottom: 20px;
}
.image img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.france-info {
  background-color: rgb(202, 185, 185);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.france-info h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.france-info p {
  line-height: 1.6;
  margin-bottom: 15px;
  text-align: left;
}

.university-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  text-align: center;
}

.university-container h2 {
  font-size: 1.8em;
  margin-bottom: 20px;
}

.button-container {
  text-align: center;
  margin-bottom: 20px;
}

.button-container button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 10px;
}

.button-container button:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .content-container {
    flex-direction: column;
  }

  .left-container,
  .right-container {
    max-width: 100%;
    margin-right: 0;
    margin-left: 0;
  }

  .button-container {
    margin-bottom: 10px;
  }

  .button-container button {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
}
