.consultation {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 4%;
}

.main-heading {
  margin-bottom: 20px;
  text-align: left;
  font-size: 24px;
  font-weight: bold;
}

.consultation-section {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.image-side {
  flex: 1;
  max-width: 300px; /* Adjust the max-width as needed */
}

.image-side img {
  width: 100%;
 padding-top: 60px;
  height: auto;
  border-radius: 10px;
}

.text-side {
  flex: 2;
  padding-left: 20px;
}

.text-side h3 {
  margin-top: 0;
  font-size: 20px;
}

.text-side p {
  margin-top: 10px;
  
  text-align: left;
}

